In [34]:
import pandas as pd

# Create dataset for Indian Residential Hotels
data = {
    'id': [1, 2, 3, 4, 5],
    'name': [
        'Palm Residency',
        'Blue Orchid Stay',
        'Heritage Comforts',
        'Cityscape Hotel',
        'Seaside Inn'
    ],
    'host_id': [101, 102, 103, 104, 105],
    'neighbourhood': ['Connaught Place', 'Bandra', 'MG Road', 'Park Street', 'Juhu'],
    'neighbourhood_group': ['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Mumbai'],
    'latitude': [28.6315, 19.0602, 12.9758, 22.5675, 19.1076],
    'longitude': [77.2167, 72.8327, 77.5996, 88.3639, 72.8267],
    'room_type': ['Private Room', 'Entire home/apt', 'Private Room', 'Shared Room', 'Entire home/apt'],
    'price': [2500, 4500, 3000, 1500, 5000],
    'minimum_nights': [1, 2, 1, 3, 2],
    'number_of_reviews': [45, 30, m67, 10, 89],
    'last_review': ['2024-06-20', '2024-06-18', '2024-06-25', '2024-06-10', '2024-06-22'],
    'review_per_month': [3.5, 2.8, 4.2, 1.1, 5.0],
    'calculated_host_listing': [2, 1, 3, 1, 2],
    'availability_365': [365, 200, 180, 90, 300]
}

# Create DataFrame
hotel_df = pd.DataFrame(data)

# Display the dataset
print(hotel_df)

   id               name  host_id    neighbourhood neighbourhood_group  \
0   1     Palm Residency      101  Connaught Place               Delhi
1   2   Blue Orchid Stay      102           Bandra              Mumbai
2   3  Heritage Comforts      103          MG Road           Bangalore
3   4    Cityscape Hotel      104      Park Street             Kolkata
4   5        Seaside Inn      105             Juhu              Mumbai

   latitude  longitude        room_type  price  minimum_nights  \
0   28.6315    77.2167     Private Room   2500               1
1   19.0602    72.8327  Entire home/apt   4500               2
2   12.9758    77.5996     Private Room   3000               1
3   22.5675    88.3639      Shared Room   1500               3
4   19.1076    72.8267  Entire home/apt   5000               2

   number_of_reviews last_review  review_per_month  calculated_host_listing  \
0                 45  2024-06-20               3.5                        2
1                 30  2024-06-18               2.8                        1
2                 67  2024-06-25               4.2                        3
3                 10  2024-06-10               1.1                        1
4                 89  2024-06-22               5.0                        2

   availability_365
0               365
1               200
2               180
3                90
4               300

High-Level Statistics

In [ ]:
# Quick look at the data
print(hotel_df.head())

# Dataset shape
print(f"Total Rows: {hotel_df.shape[0]}, Total Columns: {hotel_df.shape[1]}")

# Data types and null values
print(hotel_df.info())

# Statistical summary
print(hotel_df.describe(include='all'))

   id               name  host_id    neighbourhood neighbourhood_group  \
0   1     Palm Residency      101  Connaught Place               Delhi
1   2   Blue Orchid Stay      102           Bandra              Mumbai
2   3  Heritage Comforts      103          MG Road           Bangalore
3   4    Cityscape Hotel      104      Park Street             Kolkata
4   5        Seaside Inn      105             Juhu              Mumbai

   latitude  longitude        room_type  price  minimum_nights  \
0   28.6315    77.2167     Private Room   2500               1
1   19.0602    72.8327  Entire home/apt   4500               2
2   12.9758    77.5996     Private Room   3000               1
3   22.5675    88.3639      Shared Room   1500               3
4   19.1076    72.8267  Entire home/apt   5000               2

   number_of_reviews last_review  review_per_month  calculated_host_listing  \
0                 45  2024-06-20               3.5                        2
1                 30  2024-06-18               2.8                        1
2                 67  2024-06-25               4.2                        3
3                 10  2024-06-10               1.1                        1
4                 89  2024-06-22               5.0                        2

   availability_365
0               365
1               200
2               180
3                90
4               300
Total Rows: 5, Total Columns: 15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5 non-null      int64
 1   name                     5 non-null      object
 2   host_id                  5 non-null      int64
 3   neighbourhood            5 non-null      object
 4   neighbourhood_group      5 non-null      object
 5   latitude                 5 non-null      float64
 6   longitude                5 non-null      float64
 7   room_type                5 non-null      object
 8   price                    5 non-null      int64
 9   minimum_nights           5 non-null      int64
 10  number_of_reviews        5 non-null      int64
 11  last_review              5 non-null      object
 12  review_per_month         5 non-null      float64
 13  calculated_host_listing  5 non-null      int64
 14  availability_365         5 non-null      int64
dtypes: float64(3), int64(7), object(5)
memory usage: 732.0+ bytes
None
              id            name     host_id    neighbourhood  \
count   5.000000               5    5.000000                5
unique       NaN               5         NaN                5
top          NaN  Palm Residency         NaN  Connaught Place
freq         NaN               1         NaN                1
mean    3.000000             NaN  103.000000              NaN
std     1.581139             NaN    1.581139              NaN
min     1.000000             NaN  101.000000              NaN
25%     2.000000             NaN  102.000000              NaN
50%     3.000000             NaN  103.000000              NaN
75%     4.000000             NaN  104.000000              NaN
max     5.000000             NaN  105.000000              NaN

       neighbourhood_group   latitude  longitude     room_type        price  \
count                    5   5.000000   5.000000             5     5.000000
unique                   4        NaN        NaN             3          NaN
top                 Mumbai        NaN        NaN  Private Room          NaN
freq                     2        NaN        NaN             2          NaN
mean                   NaN  20.468520  77.767920           NaN  3300.000000
std                    NaN   5.723117   6.351752           NaN  1440.486029
min                    NaN  12.975800  72.826700           NaN  1500.000000
25%                    NaN  19.060200  72.832700           NaN  2500.000000
50%                    NaN  19.107600  77.216700           NaN  3000.000000
75%                    NaN  22.567500  77.599600           NaN  4500.000000
max                    NaN  28.631500  88.363900           NaN  5000.000000

        minimum_nights  number_of_reviews last_review  review_per_month  \
count          5.00000            5.00000           5          5.000000
unique             NaN                NaN           5               NaN
top                NaN                NaN  2024-06-20               NaN
freq               NaN                NaN           1               NaN
mean           1.80000           48.20000         NaN          3.320000
std            0.83666           30.89822         NaN          1.485598
min            1.00000           10.00000         NaN          1.100000
25%            1.00000           30.00000         NaN          2.800000
50%            2.00000           45.00000         NaN          3.500000
75%            2.00000           67.00000         NaN          4.200000
max            3.00000           89.00000         NaN          5.000000

        calculated_host_listing  availability_365
count                   5.00000          5.000000
unique                      NaN               NaN
top                         NaN               NaN
freq                        NaN               NaN
mean                    1.80000        227.000000
std                     0.83666        107.331263
min                     1.00000         90.000000
25%                     1.00000        180.000000
50%                     2.00000        200.000000
75%                     2.00000        300.000000
max                     3.00000        365.000000

Data Quality Checks

In [ ]:
print(hotel_df.isnull().sum())

id                         0
name                       0
host_id                    0
neighbourhood              0
neighbourhood_group        0
latitude                   0
longitude                  0
room_type                  0
price                      0
minimum_nights             0
number_of_reviews          0
last_review                0
review_per_month           0
calculated_host_listing    0
availability_365           0
dtype: int64

Percentage missing

In [ ]:
missing_percent = hotel_df.isnull().mean() * 100
print(missing_percent)

id                         0.0
name                       0.0
host_id                    0.0
neighbourhood              0.0
neighbourhood_group        0.0
latitude                   0.0
longitude                  0.0
room_type                  0.0
price                      0.0
minimum_nights             0.0
number_of_reviews          0.0
last_review                0.0
review_per_month           0.0
calculated_host_listing    0.0
availability_365           0.0
dtype: float64

Duplicate Check

In [ ]:
print(hotel_df.duplicated().sum())

# To view duplicate rows (if any)
print(hotel_df[hotel_df.duplicated()])

0
Empty DataFrame
Columns: [id, name, host_id, neighbourhood, neighbourhood_group, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, review_per_month, calculated_host_listing, availability_365]
Index: []

Data Cleaning

In [ ]:
hotel_df = hotel_df.drop_duplicates()
print(hotel_df.shape)

(5, 15)

Handle Missing Values:

In [ ]:
hotel_df['review_per_month'] = hotel_df['review_per_month'].fillna(0)
hotel_df['last_review'] = hotel_df['last_review'].fillna('Not Available')

Final Checks After Cleaning

In [ ]:
print(hotel_df.info())
print(hotel_df.describe(include='all'))
print(hotel_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5 non-null      int64
 1   name                     5 non-null      object
 2   host_id                  5 non-null      int64
 3   neighbourhood            5 non-null      object
 4   neighbourhood_group      5 non-null      object
 5   latitude                 5 non-null      float64
 6   longitude                5 non-null      float64
 7   room_type                5 non-null      object
 8   price                    5 non-null      int64
 9   minimum_nights           5 non-null      int64
 10  number_of_reviews        5 non-null      int64
 11  last_review              5 non-null      object
 12  review_per_month         5 non-null      float64
 13  calculated_host_listing  5 non-null      int64
 14  availability_365         5 non-null      int64
dtypes: float64(3), int64(7), object(5)
memory usage: 732.0+ bytes
None
              id            name     host_id    neighbourhood  \
count   5.000000               5    5.000000                5
unique       NaN               5         NaN                5
top          NaN  Palm Residency         NaN  Connaught Place
freq         NaN               1         NaN                1
mean    3.000000             NaN  103.000000              NaN
std     1.581139             NaN    1.581139              NaN
min     1.000000             NaN  101.000000              NaN
25%     2.000000             NaN  102.000000              NaN
50%     3.000000             NaN  103.000000              NaN
75%     4.000000             NaN  104.000000              NaN
max     5.000000             NaN  105.000000              NaN

       neighbourhood_group   latitude  longitude     room_type        price  \
count                    5   5.000000   5.000000             5     5.000000
unique                   4        NaN        NaN             3          NaN
top                 Mumbai        NaN        NaN  Private Room          NaN
freq                     2        NaN        NaN             2          NaN
mean                   NaN  20.468520  77.767920           NaN  3300.000000
std                    NaN   5.723117   6.351752           NaN  1440.486029
min                    NaN  12.975800  72.826700           NaN  1500.000000
25%                    NaN  19.060200  72.832700           NaN  2500.000000
50%                    NaN  19.107600  77.216700           NaN  3000.000000
75%                    NaN  22.567500  77.599600           NaN  4500.000000
max                    NaN  28.631500  88.363900           NaN  5000.000000

        minimum_nights  number_of_reviews last_review  review_per_month  \
count          5.00000            5.00000           5          5.000000
unique             NaN                NaN           5               NaN
top                NaN                NaN  2024-06-20               NaN
freq               NaN                NaN           1               NaN
mean           1.80000           48.20000         NaN          3.320000
std            0.83666           30.89822         NaN          1.485598
min            1.00000           10.00000         NaN          1.100000
25%            1.00000           30.00000         NaN          2.800000
50%            2.00000           45.00000         NaN          3.500000
75%            2.00000           67.00000         NaN          4.200000
max            3.00000           89.00000         NaN          5.000000

        calculated_host_listing  availability_365
count                   5.00000          5.000000
unique                      NaN               NaN
top                         NaN               NaN
freq                        NaN               NaN
mean                    1.80000        227.000000
std                     0.83666        107.331263
min                     1.00000         90.000000
25%                     1.00000        180.000000
50%                     2.00000        200.000000
75%                     2.00000        300.000000
max                     3.00000        365.000000
id                         0
name                       0
host_id                    0
neighbourhood              0
neighbourhood_group        0
latitude                   0
longitude                  0
room_type                  0
price                      0
minimum_nights             0
number_of_reviews          0
last_review                0
review_per_month           0
calculated_host_listing    0
availability_365           0
dtype: int64

✔️ 1. Successful Hosts Based on Listings & Reviews

In [ ]:
# Count listings per host
host_listings = hotel_df.groupby('host_id')['id'].count().reset_index().rename(columns={'id': 'total_listings'})

# Sort by most listings
print(host_listings.sort_values(by='total_listings', ascending=False))

   host_id  total_listings
0      101               1
1      102               1
2      103               1
3      104               1
4      105               1

Total Reviews per Host

In [ ]:
# Sum reviews per host
host_reviews = hotel_df.groupby('host_id')['number_of_reviews'].sum().reset_index().rename(columns={'number_of_reviews': 'total_reviews'})

# Sort by reviews
print(host_reviews.sort_values(by='total_reviews', ascending=False))

   host_id  total_reviews
4      105             89
2      103             67
0      101             45
1      102             30
3      104             10

Merge Listings & Reviews for a Complete Picture:

In [ ]:
# Combine both
successful_hosts = pd.merge(host_listings, host_reviews, on='host_id')

# Sort by total_reviews or total_listings to spot successful hosts
print(successful_hosts.sort_values(by='total_reviews', ascending=False).head(10))

   host_id  total_listings  total_reviews
4      105               1             89
2      103               1             67
0      101               1             45
1      102               1             30
3      104               1             10

✅ 2. Popular Neighbourhood Analysis

In [ ]:
neighbourhood_counts = hotel_df['neighbourhood'].value_counts().reset_index()
neighbourhood_counts.columns = ['neighbourhood', 'total_listings']

print(neighbourhood_counts.head(10))

     neighbourhood  total_listings
0  Connaught Place               1
1           Bandra               1
2          MG Road               1
3      Park Street               1
4             Juhu               1

Total Reviews by Neighbourhood:

In [ ]:
reviews_by_neighbourhood = hotel_df.groupby('neighbourhood')['number_of_reviews'].sum().reset_index().sort_values(by='number_of_reviews', ascending=False)

print(reviews_by_neighbourhood.head(10))

     neighbourhood  number_of_reviews
2             Juhu                 89
3          MG Road                 67
1  Connaught Place                 45
0           Bandra                 30
4      Park Street                 10

Combine Listings & Reviews for Neighbourhood Popularity

In [ ]:
successful_hosts = pd.merge(host_listings, host_reviews, on='host_id', how='inner')

print(successful_hosts.head())

   host_id  total_listings  total_reviews
0      101               1             45
1      102               1             30
2      103               1             67
3      104               1             10
4      105               1             89

✅ 4. Sorting to Find Successful Hosts

In [ ]:
# Sort by total_reviews to identify successful hosts
successful_hosts = successful_hosts.sort_values(by='total_reviews', ascending=False)

print(successful_hosts.head(10))

   host_id  total_listings  total_reviews
4      105               1             89
2      103               1             67
0      101               1             45
1      102               1             30
3      104               1             10

✅ 5. Popular Neighbourhoods

In [ ]:
listing_counts = hotel_df['neighbourhood'].value_counts().reset_index()
listing_counts.columns = ['neighbourhood', 'total_listings']

print(listing_counts.head())

     neighbourhood  total_listings
0  Connaught Place               1
1           Bandra               1
2          MG Road               1
3      Park Street               1
4             Juhu               1

Total Reviews per Neighbourhood

In [ ]:
review_counts = hotel_df.groupby('neighbourhood')['number_of_reviews'].sum().reset_index()

print(review_counts.head())

     neighbourhood  number_of_reviews
0           Bandra                 30
1  Connaught Place                 45
2             Juhu                 89
3          MG Road                 67
4      Park Street                 10

Merge Neighbourhood Data

In [ ]:
popular_neighbourhoods = pd.merge(listing_counts, review_counts, on='neighbourhood', how='inner')

print(popular_neighbourhoods.head())

     neighbourhood  total_listings  number_of_reviews
0  Connaught Place               1                 45
1           Bandra               1                 30
2          MG Road               1                 67
3      Park Street               1                 10
4             Juhu               1                 89

Sort by Reviews

In [ ]:
popular_neighbourhoods = popular_neighbourhoods.sort_values(by='number_of_reviews', ascending=False)

print(popular_neighbourhoods.head(10))

     neighbourhood  total_listings  number_of_reviews
4             Juhu               1                 89
2          MG Road               1                 67
0  Connaught Place               1                 45
1           Bandra               1                 30
3      Park Street               1                 10

Define Revenue as Growth

In [ ]:
# Calculate Estimated Revenue per Listing
hotel_df['estimated_revenue'] = hotel_df['price'] * hotel_df['number_of_reviews']

# Total Revenue in Dataset
total_revenue = hotel_df['estimated_revenue'].sum()

print(f"Total Estimated Revenue: ₹{total_revenue}")

Total Estimated Revenue: ₹908500

Growth in Listings by Neighbourhood

In [ ]:
listing_counts = hotel_df['neighbourhood_group'].value_counts().reset_index()
listing_counts.columns = ['neighbourhood_group', 'total_listings']

print(listing_counts)

  neighbourhood_group  total_listings
0              Mumbai               2
1               Delhi               1
2           Bangalore               1
3             Kolkata               1

Growth Based on Reviews (Popularity Metric)

In [ ]:
# Total Reviews by Neighbourhood
reviews_by_neighbourhood = hotel_df.groupby('neighbourhood_group')['number_of_reviews'].sum().reset_index()

print(reviews_by_neighbourhood.sort_values(by='number_of_reviews', ascending=False))

  neighbourhood_group  number_of_reviews
3              Mumbai                119
0           Bangalore                 67
1               Delhi                 45
2             Kolkata                 10

Define Overall Growth by Combining Metrics

In [ ]:
# Group by Host to analyze successful growth
host_growth = hotel_df.groupby('host_id').agg({
    'id': 'count',  # Total listings
    'number_of_reviews': 'sum',  # Reviews as popularity proxy
    'price': 'mean'  # Average price
}).reset_index()

host_growth.rename(columns={'id': 'total_listings', 'number_of_reviews': 'total_reviews'}, inplace=True)

# Estimate Revenue for Hosts
host_growth['estimated_revenue'] = host_growth['total_reviews'] * host_growth['price']

# Sort Hosts by Revenue (Growth Indicator)
print(host_growth.sort_values(by='estimated_revenue', ascending=False).head(10))

   host_id  total_listings  total_reviews   price  estimated_revenue
4      105               1             89  5000.0           445000.0
2      103               1             67  3000.0           201000.0
1      102               1             30  4500.0           135000.0
0      101               1             45  2500.0           112500.0
3      104               1             10  1500.0            15000.0

Simple Price-Based Segmentation

In [ ]:
# Define price bins
bins = [0, 2000, 5000, 10000, float('inf')]
labels = ['Budget', 'Mid-range', 'Premium', 'Luxury']

hotel_df['price_range'] = pd.cut(hotel_df['price'], bins=bins, labels=labels)

# Check distribution
print(hotel_df['price_range'].value_counts())

price_range
Mid-range    4
Budget       1
Premium      0
Luxury       0
Name: count, dtype: int64

Price Range by Room Type

In [ ]:
# Example ranges can be customized per room type
def price_segment(row):
    if row['room_type'] == 'Shared Room':
        if row['price'] < 1000:
            return 'Budget'
        elif row['price'] < 3000:
            return 'Mid-range'
        else:
            return 'Premium'
    elif row['room_type'] == 'Private Room':
        if row['price'] < 2000:
            return 'Budget'
        elif row['price'] < 5000:
            return 'Mid-range'
        else:
            return 'Premium'
    else:  # Entire Home/Apt
        if row['price'] < 4000:
            return 'Budget'
        elif row['price'] < 8000:
            return 'Mid-range'
        else:
            return 'Premium'

hotel_df['price_category'] = hotel_df.apply(price_segment, axis=1)

print(hotel_df[['room_type', 'price', 'price_category']].head())

         room_type  price price_category
0     Private Room   2500      Mid-range
1  Entire home/apt   4500      Mid-range
2     Private Room   3000      Mid-range
3      Shared Room   1500      Mid-range
4  Entire home/apt   5000      Mid-range

 Price Ranges by Neighbourhood Group

In [ ]:
# Median price by location
median_prices = hotel_df.groupby('neighbourhood_group')['price'].median().reset_index()

print(median_prices)

  neighbourhood_group   price
0           Bangalore  3000.0
1               Delhi  2500.0
2             Kolkata  1500.0
3              Mumbai  4750.0

Ideal Real-World Price Range Approach

How to Find the Preferred Room Type

In [ ]:
# Total reviews by room type
room_reviews = hotel_df.groupby('room_type')['number_of_reviews'].sum().reset_index()

# Sort to find most reviewed room type
print(room_reviews.sort_values(by='number_of_reviews', ascending=False))

         room_type  number_of_reviews
0  Entire home/apt                119
1     Private Room                112
2      Shared Room                 10

 Popularity by Number of Listings (Market Availability)

In [ ]:
room_listings = hotel_df['room_type'].value_counts().reset_index()
room_listings.columns = ['room_type', 'total_listings']

print(room_listings)

         room_type  total_listings
0     Private Room               2
1  Entire home/apt               2
2      Shared Room               1

Price Comparison by Room Type (Customer Affordability)

In [ ]:
price_stats = hotel_df.groupby('room_type')['price'].describe()

print(price_stats)

                 count    mean         std     min     25%     50%     75%  \
room_type
Entire home/apt    2.0  4750.0  353.553391  4500.0  4625.0  4750.0  4875.0
Private Room       2.0  2750.0  353.553391  2500.0  2625.0  2750.0  2875.0
Shared Room        1.0  1500.0         NaN  1500.0  1500.0  1500.0  1500.0

                    max
room_type
Entire home/apt  5000.0
Private Room     3000.0
Shared Room      1500.0

✅ Suggested Features for Dataset Enhancement

In [ ]:
# Example new features to add:
hotel_df['rating'] = [4.5, 4.2, 4.8, 3.9, 4.6]  # Customer ratings out of 5
hotel_df['wifi_available'] = [True, True, False, True, True]
hotel_df['kitchen_access'] = [True, False, True, False, True]
hotel_df['proximity_to_city_center_km'] = [2.5, 5.0, 1.2, 7.8, 3.0]
hotel_df['cleanliness_score'] = [9, 8, 9, 7, 10]  # Score out of 10
hotel_df['flexible_cancellation'] = [True, False, True, True, False]